.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #000, rgba(0, 0, 0, 0));
  padding: 40px 22%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.hidden {
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logoContainer img {
  height: 55px;
  width: auto;
}

.nav {
  display: flex;
  justify-content: flex-end;
  column-gap: 3rem;
  list-style: none;
  padding: 10px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-size: 1rem;
  letter-spacing: 1px;
}

.nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 3px;
  background-color: #33658A;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav a.contact {
  position: relative;
  color: black;
  background-color: white;
  padding: 3px 20px; 
  border: 2px solid transparent;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  margin-top: -3.5px;
}

.nav a.contact::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border: 1px solid #fff;
  z-index: -1;
  transition: border-color 0.3s ease-in-out;
}

.nav a.contact:hover {
  background: linear-gradient(113.49deg, #7fc6a4, #33658a);
  color: #fff;
  border-color: white;
}

.nav a.contact::after {
  content: none;
}


.hamburger {
  display: none;
  cursor: pointer;
  z-index: 2000;
  position: absolute;
  right: 22%;
  top: 15px;
  padding: 10px;
}

.hamburgerIcon {
  color: white;
  font-size: 30px;
}

/* Responsive adjustments */
@media (max-width: 1900px) {
  .header {
    padding: 40px 5%; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 1084px) {
  .header {
    padding: 25px 5%;
  }

  .nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background: linear-gradient(78.66deg, #000d18, #00213e);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: max-height 0.5s ease-out, opacity 0.3s ease-out;
    opacity: 0;
  }

  .nav.open {
    max-height: 100vh;
    opacity: 1;
  }

  .nav a {
    font-size: 24px;
    margin: 10px 0;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }

  .nav.open a {
    opacity: 1;
    transition-delay: 0.3s;
  }

  .hamburger {
    display: block;
    right: 5%;
    top: 20px;
  }

  .logoContainer {
    display: none;
  }

  .logoContainer img {
    height: 50px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 20px 5%;
  }

  .logoContainer img {
    height: 45px;
  }

  .nav a {
    font-size: 20px;
  }
}
