/*  hero header  */

.heroContainer {
  width: 100%;
  height: 100vh; 
  position: relative; 
  overflow: hidden;
}

.heroVideo {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.heroContent {
  position: absolute;
  text-align: center;
  color: white;
  z-index: 1; /* Ensure content is above the video */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for exact center */
  padding: 0 20px; /* Add padding for better spacing */
}

.heroContent h1 {
  font-size: 48px; /* Adjust font size */
  margin: 0;
  padding: 0;
}

.heroContent p {
  font-size: 24px; /* Adjust font size */
  margin-top: 20px;
}

.heroContent a {
  color: #ffd700; /* Adjust link color */
  text-decoration: none;
  font-weight: bold;
}

.heroContent a:hover {
  text-decoration: underline;
}

/* paragraph content */

.content {
  margin-right: 22%;
  margin-left: 22%;
margin-top: 60px;
margin-bottom: 60px;
  line-height: 1.6;
  font-family: 'Arial', sans-serif;
  color: #4a4a4a;
}

.largeHeader {
  font-size: 56px;
  font-weight: 100;
  color: #bcbcbc;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

.largeHeader span {
  font-weight: bold;
  color: #60c09b; /* Matching the green text color in the image */
}

.greenText {
  color: #60c09b;
}

.contentParagraph {
  font-size: 20px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin-top: 20px;
  font-family: Capitana;
  letter-spacing: 1px;
  line-height: 2;
}

.contentParagraph br {
  margin-bottom: 15px;
}

.contentBreak {
  display: block;
  margin: 20px 0;
}


.svgContainer {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 20px 0; 
}

.svgContainer img {
  margin: 60px 80px; 
  max-width: 100%;
  height: auto;
}

.support1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 30px;
  color: #00213e;
}
.weOfferOngoing {
  width: 1440px;
  position: relative;
  font-size: 22px;
  letter-spacing: 0.02em;
  line-height: 60px;
  display: inline-block;
}
.weProvideMaintenance {
  width: 1440px;
  position: relative;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 38px;
  color: #000;
  display: inline-block;
}
.siteMaintenanceIcon {
  width: 85.5px;
  position: relative;
  height: 74.7px;
}
.siteMaintenance {
  position: relative;
  letter-spacing: 0.02em;
}
.siteMaintenanceParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  cursor: pointer;
}
.siteHostingIcon {
  width: 87.5px;
  position: relative;
  height: 61.3px;
}
.appMaintenanceIcon {
  width: 83.7px;
  position: relative;
  height: 73.2px;
}
.deviceManagementIcon {
  width: 91.7px;
  position: relative;
  height: 63.3px;
}
.deviceManagementParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.analyticsIcon {
  width: 75px;
  position: relative;
  height: 69px;
}
.integrationsIcon {
  width: 89.9px;
  position: relative;
  height: 82.9px;
}
.diagnosticsIcon {
  width: 87.6px;
  position: relative;
  height: 82.6px;
}
.icons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 40px 0px;
  gap: 97px;
  font-size: 16px;
  color: #000;
}
.ringsIcon {
  position: absolute;
  height: 70.42%;
  width: 27.47%;
  top: 15.49%;
  right: 0%;
  bottom: 14.08%;
  left: 72.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  opacity: 0.3;
}
.linkButtonChild {
  position: absolute;
  height: 11.27%;
  width: 2.75%;
  top: 45.07%;
  right: 12.64%;
  bottom: 43.66%;
  left: 84.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.linkButtonItem {
  position: absolute;
  height: 2.82%;
  width: 21.98%;
  top: 49.3%;
  right: 13.74%;
  bottom: 47.89%;
  left: 64.29%;
  background-color: #000;
}
.linkButtonInner {
  position: absolute;
  height: 2.82%;
  width: 0.55%;
  top: 64.79%;
  right: 98.9%;
  bottom: 32.39%;
  left: 0.55%;
  background-color: #000;
  opacity: 0;
}
.learnMore {
  position: absolute;
  top: 38.03%;
  left: 0%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.linkButton {
  width: 182px;
  position: relative;
  height: 71px;
  text-align: right;
  font-size: 12px;
}
.support {
  position: relative;
  background-color: #e8e8e8;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 100px 380px;
  box-sizing: border-box;
  gap: 20px;
  text-align: left;
  font-size: 40px;
  color: #33658a;
  font-family: Capitana;
}


