.headerSection {
    display: flex;
    align-items: flex-end; /* Align items to the bottom */
    justify-content: space-between;
    height: 48vh;
    background: linear-gradient(78.66deg, #000d18, #00213e);
    position: relative;
    padding-left: 22%;
}

.textContent {
    color: white;
    padding: 20px;
    flex: 1;
    z-index: 1;
    max-width: 40%; /* Control the width of text content */
}

.textContent h1 {
    margin: 0;
    font-size: 2.5rem; /* Adjust size for larger screens */
}

.textContent p {
    font-size: 1.2rem;
    line-height: 1.6; 
    letter-spacing: 1px;
    margin-bottom: 25%;
}

.integrationsHero {
    position: relative;
    width: 60%;
    height: 80%; 
}

.integrationsHero img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media (max-width: 1400px) {
    .headerSection {
        flex-direction: column;
        height: auto;
        padding: 20px 10%; /* Adjust padding for tablets */
    }

    .textContent {
        margin-left: 0;
        max-width: 100%; /* Ensure text uses full width on tablets */
    }

    .textContent h1 {
        font-size: 2rem; 
        margin-top: 15%;
    }

    .textContent p {
        font-size: 1rem;
        margin-bottom: 10%;
    }

    .integrationsHero {
        width: 80%; /* Full width on tablets */
        height: 300px; /* Adjust height for tablets */
    }
}

@media (max-width: 768px) {
    .headerSection {
        padding: 20px 5%; /* Reduce padding for mobile */
    }

    .textContent {
        max-width: 100%;
    }

    .textContent h1 {
        font-size: 1.5rem;
        margin-top: 15%;
    }

    .textContent p {
        font-size: 0.9rem; /* Scale down for mobile */
    }

    .integrationsHero {
        height: 150px; /* Adjust height for mobile */
    }
}

/* under hero section */
.cuttingEdgeWebsite {
    font-weight: 900;
    background: linear-gradient(107.52deg, #7fc6a4, #33658a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.results {
    font-weight: 900;
    background: linear-gradient(78.56deg, #00213e, #33658a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intentionalAndFunctional {
    font-weight: 900;
    background: linear-gradient(81.16deg, #000d18, #00213e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.aCuttingEdgeWebsiteContainer {
    width: 1440px;
    position: relative;
    letter-spacing: 0.02em;
    display: inline-block;
}
.content {
    position: relative;
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 22%;
    margin-top: 3%;
    margin-bottom: 3%;
    box-sizing: border-box;
    text-align: left;
    color: #b5b5b5;
    font-family: Capitana !important;
    font-size: 4rem;
    font-weight: 900;

}

.APIcontent {
    background: linear-gradient(78.66deg, #00213e, #33658a);
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    /* padding: 100px 400px; */
    box-sizing: border-box;
    text-align: left;
    font-size: 56px;
    color: #b5b5b5;
    font-family: Capitana;
}


.blueContainerContent {
    color: white;
    padding: 20px;
    z-index: 1;
    max-width: 40%;
    margin-left: 22%;
    margin-top: 2%;
    margin-bottom: 2%;
    letter-spacing: 0.02em;
    line-height: 60px;
    font-family: Capitana;
    color: #fff;
    text-align: left;
    align-items: center;
    font-size: 45px;
    font-weight: 900;
}

.blueContainerContent h1 {
    font-size: 1.2rem;
    line-height: 1.6; 
    letter-spacing: 1px;
    margin-bottom: 0%;
}

.blueContainerContent p {
    margin: 0;
    font-size: 2.5rem;
}

.integrationsFocusesOn {
    margin: 0;
    margin-left: 22%;
}
.integrationsFocusesOnContainer {
    width: 900px;
    position: relative;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 38px;
    font-family: Capitana;
    color: #fff;
    text-align: left;
    display: inline-block;
    margin-right: 22%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: 400;
}

/* so far section */

.soFarContent {
    width: 56%; /* Default width to maintain 22% margin on larger screens */
    margin: 3% 22%;
    box-sizing: border-box;
    font-family: Capitana;
    font-weight: 500;
}

.soHowDo {
    font-size: 1.3rem;
    color: #000; /* Text color */
    line-height: 1.6; /* Adjust line height for readability */
}

.highlight {
    font-size: 1.3rem; 
    color: #33658a; 
    font-family: Capitana;
}

/* Responsive Adjustments */
@media (max-width: 1700px) {
    .soFarContent {
        width: 90%; /* Adjust width for smaller screens */
    }
}

@media (max-width: 768px) {
    .soFarContent {
        font-size: 0.9rem; /* Further scale down text for mobile */
    }
}


/* SB integrations section */
.sectionBg {
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background: linear-gradient(78.66deg, #000d18, #00213e);
}
.verifyingYourUser {
    position: absolute;
    top: 262px;
    letter-spacing: 1px;
    line-height: 2;
    display: inline-block;
    width: 669px;
    margin: 0 22%;
}
.leverageTheBenefits {
    position: absolute;
    top: 262px;
    left: 1248px;
    letter-spacing: 1px;
    line-height: 2;
    display: inline-block;
    width: 672px;
}
.programManualMarketing {
    position: absolute;
    top: 552px;
    letter-spacing: 1px;
    line-height: 2;
    display: inline-block;
    width: 669px;
    margin: 0 22%;
}
.mergeIntoThe {
    position: absolute;
    top: 552px;
    left: 1250px;
    letter-spacing: 1px;
    line-height: 2;
    display: inline-block;
    width: 670px;
}
.authentication {
    position: absolute;
    top: 222px;
    font-size: 20px;
    letter-spacing: 0.02em;
    margin: 0 22%;
}
.cloudIntegrations {
    position: absolute;
    top: 222px;
    left: 1248px;
    font-size: 20px;
    letter-spacing: 0.02em;
}
.marketingAutomation {
    position: absolute;
    top: 512px;
    font-size: 20px;
    letter-spacing: 0.02em;
    margin: 0 22%;

}
.analytics {
    position: absolute;
    top: 512px;
    left: 1250px;
    font-size: 20px;
    letter-spacing: 0.02em;
}
.solutionbuiltTypicalIntegrat {
    position: absolute;
    top: 13.04%;
    font-size: 40px;
    letter-spacing: 0.02em;
    line-height: 30px;
    margin: 0 22%;
}
.integrations {
    width: 100%;
    position: relative;
    height: 836px;
    text-align: left;
    font-size: 16px;
    color: #fff;
    font-family: Capitana;
}

/* get started */

.letsGetStarted {
    position: relative;
    letter-spacing: 0.02em;
    color: #000;
    font-weight: 600;
}
.ifYoureLooking {
    font-size: 22px;
    letter-spacing: 0.02em;
    line-height: 30px;
    display: inline-block;
}

.workWithUs {
    position: absolute;
    top: 38.03%;
    left: 0%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.linkButton {
    width: 201px;
    position: relative;
    height: 71px;
    text-align: right;
    font-size: 12px;
}
.bottomCta {
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    gap: 20px;
    text-align: left;
    font-size: 36px;
    color: #33658a;
    font-family: Capitana;
    margin: 3% 22%;
}

.integrationsBtn {
    margin-left: 8.5%;
    margin-bottom: 2%;
}


/*  media screen  */

/* Mobile Styles */

/* Base Styles for Mobile Screens */
@media (max-width: 1700px) {
    .headerSection {
        flex-direction: column;
        padding: 20px 5%; /* Reduce padding for smaller screens */
        height: auto; /* Allow height to adjust based on content */
    }

    .textContent {
        max-width: 100%; /* Ensure text uses full width */
        margin: 0; /* Remove margins */
    }

    .textContent h1 {
        font-size: 2rem; /* Adjust size for readability */
        margin-top: 15%;
    }

    .textContent p {
        font-size: 1rem; /* Adjust font size */
        margin-bottom: 10%; /* Adjust margin */
    }

    .integrationsHero {
        width: 80%; /* Adjust width for smaller screens */
        height: 300px; /* Adjust height */
    }

    .content {
        margin: 0 5%; /* Reduce margins */
        font-size: 2rem; /* Adjust font size */
        line-height: 1.4; /* Adjust line height */
    }

    .APIcontent {
        font-size: 36px; /* Adjust font size */
    }

    .blueContainerContent {
        font-size: 1.5rem; /* Adjust font size */
        line-height: 1.5; /* Adjust line height */
    }

    .blueContainerContent h1 {
        font-size: 1rem; /* Adjust font size */
    }

    .blueContainerContent p {
        font-size: 1.5rem; /* Adjust font size */
    }

    .integrationsFocusesOnContainer {
        font-size: 16px; /* Adjust font size */
        margin: 0 5%; /* Reduce margins */
    }

    .soFarContent {
        width: 90%; /* Adjust width */
        font-size: 1rem; /* Adjust font size */
    }

    .verifyingYourUser,
    .leverageTheBenefits,
    .programManualMarketing,
    .mergeIntoThe,
    .authentication,
    .cloudIntegrations,
    .marketingAutomation,
    .analytics,
    .solutionbuiltTypicalIntegrat {
        width: 100%; /* Full width */
        font-size: 16px; /* Adjust font size */
        margin: 0 5%; /* Reduce margins */
    }

    .bottomCta {
        font-size: 24px; /* Adjust font size */
        margin: 3% 5%; /* Reduce margins */
    }
}
